
h1 {
  color:Purple;
  font-size: 60px;
  border: 25px solid red;
  text-shadow:3px 3px black;
}
p1, p2, p3 {  display: flex;
flex-direction:column}

p1, p2, p3{font-size: 30px;  border: 10px solid green;}
p1{color: Blue;}
p2{color: Orange;}
p3{color:Magenta;}

p{font-size: 28px;  border: 10px solid green;}
